body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
}

.logo {
  font-family: "Raleway", sans-serif;
  line-height: 1.17px;
  letter-spacing: 0.03%;
  text-transform: uppercase;
  color: #4d5ae5;
  font-weight: bold;
  font-size: 18px;
}
.logo--studio {
  color: #2e2f42;
}
.nav--link {
  color: #2e2f42;
  font-weight: 500;
  letter-spacing: 0.02%;
}

.nav--link:hover {
  color: #404bbf;
}
.nav--link:active {
  color: #404bbf;
}
.address {
  font-style: normal;
}
.address--link {
  color: #434455;
  font-weight: medium;
  letter-spacing: 0.02%;
}

.address--link:hover {
  color: #404bbf;
}
.address--link:active {
  color: #404bbf;
}
.section--title {
  background-color: #2e2f42;
}
.title--text {
  font-weight: bold;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02%;
  color: #ffffff;
}
.button--service {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04%;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
}
.button--service:hover {
  background-color: #404bbf;
}
.button--service:active {
  background-color: #404bbf;
}
.strategy {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02%;
  color: #2e2f42;
}
.strategy--text {
  letter-spacing: 0.02%;
  color: #434455;
}
.section--3 {
  background-color: #f4f4fd;
}
.our--team {
  font-weight: bold;
  font-size: 36px;
}
